<div class="form-fields form-level-<?php echo $level%3; ?>">
<h4 class="form-header"><?php echo $title; ?></h4>
<?php foreach($values as $key => $value) 
{  
  if(is_array($value)){
    echo $controller->renderView("default/form-fields",["formName"=>"{$formName}[$key]","values"=>$value,"title"=>ucfirst($key),"level"=>$level+1]);
  } else { 
    echo $controller->renderView("default/form-field",["formName"=>$formName,"field"=>$key,"value"=>$value]);
  }
} 
?>
<div class="form-footer"><?php echo $footer; ?></div>
</div>
<style>
  .field-label{
    display:inline-block;
    width:200px;
    padding:6px;
    margin:3px;
  }
  .field-value{
    display:inline-block;
    width:200px;
    margin:3px;
  }
  .field-value input {
    padding:6px;
    border:1px solid #DDD;
    border-radius: 3px;
  }
  .form-fields{
    margin-left:8px;
    padding:8px;
    background-color:rgba(128,128,128,0.5);
  }
  .form-header{
    margin-top:8px;
    margin-bottom:8px;
  }
  .form-level-1{
    background-color:rgb(240,240,240);
  }

</style>